[submodule "libs/font-awesome"]
	path = libs/font-awesome
	url = https://github.com/tommander/Font-Awesome
[submodule "libs/zefania-bibles"]
	path = libs/zefania-bibles
	url = https://github.com/tommander/zefania-bibles.git
