html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
* { margin: 0; padding: 0; }
body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #cba;
}

/* HEADER */

header {
	background-color: #987;
	display: flex;
	justify-content: center;
	height: 128px;
	background-image: url('images/church.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	align-items: flex-end;
	border-bottom: 1px solid #765;
}

/* NAVIGATION */

nav {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #765;
	border-left: 1px solid #765;
	border-right: 1px solid #765;
	font-family: 'Source Sans Pro', sans-serif;
}
i {
	padding: 0 0.2em;
}
nav div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navLabels {
	padding: 0.5em 1em 0 1em;
}

#navLangs {
	padding: 0em 1em 0 1em;
}

#navLegend {
	padding: 0.5em 1em;
	border-top: 1px solid #765;
	margin-top: 0.5em;
}

nav a {
	padding-left: 0.5em;
}

nav a:first-child {
	padding-left: 0;
}

/* MAIN */

main {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	border-left: 1px solid #765;
	border-right: 1px solid #765;
	font-family: 'Source Serif Pro', serif;
}

main div {
	padding: 1em;
}
main div:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.2);
}

main div:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.1);
}

div.options {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	column-gap: 0.5em;
	padding: 0 !important;
}

div.options > div {
	margin: 0 !important;
	padding: 0 !important;
}

h1 {
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 10px #000;
	font-size: 300%
}

.who {
	font-weight: bold;
	text-transform: capitalize;
	margin-right: 0.5em;
}

.command {
	font-style: italic;
	color: #555;
}

/* FOOTER */ 

footer {
	background-color: #987;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding: 1em 0;
	color: #edc;
	border-top: 1px solid #765;
}
footer > div {
	max-width: 1024px;
	display: flex;
	flex-flow: column;
	margin: 0 1em;
}
footer a, footer a:link, footer a:visited {
	color: #fed;
}
footer a:hover {
	color: #ffe;
}
footer a:active {
	color: #fed;
}

/* COMMON */

a, a:link, a:visited {
	color: #00c;
}

a:hover {
	color: #44f;
}

a:active {
	color: #00c;
}
