html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }
* { margin: 0; padding: 0; }
body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #cba;
}

/* HEADER */

header {
	background-color: #987;
	display: flex;
	justify-content: center;
	height: 128px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	align-items: flex-end;
	border-bottom: 1px solid #765;
}

header h1 {
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 10px #000;
	font-size: 300%
}


/* NAVIGATION */

nav {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #765;
	border-left: 1px solid #765;
	border-right: 1px solid #765;
	font-family: 'Source Sans Pro', sans-serif;
}
i {
	padding: 0 0.2em;
}
#navSettings, #navLegend, #navDate {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1em;
}

#navSettings > div {
	display: flex;
	flex-direction: column;
}

#navLegend {
	border-top: 1px solid #765;
}

#navDate {
	border-top: 1px solid #765;
}

nav a {
	padding-left: 0.5em;
}

nav a:first-child {
	padding-left: 0;
}

/* MAIN (COMMON) */

main {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	border-left: 1px solid #765;
	border-right: 1px solid #765;
	font-family: 'Source Serif Pro', serif;
}

main abbr {
	font-weight: bold;
}

/* MAIN (MASS, ROSARY) */

main div {
	padding: 1em;
}
main div:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.2);
}

main div:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.1);
}

div.options {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	column-gap: 0.5em;
	padding: 0 !important;
}

div.options > div {
	margin: 0 !important;
	padding: 0 !important;
}

.who {
	font-weight: bold;
	text-transform: capitalize;
	margin-right: 0.5em;
}

.command {
	font-style: italic;
	color: #555;
}

.choiceTabs .option, .choiceTabsLabel {
	display: inline-block;
	padding: 0.5em;
	margin: 0.5em;
}

.choiceTabs .option {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 0.5em;
}

.choiceTabsLabel {
	margin: 1em 0.25em 1em 1em; 
	padding: 0;
}

.choiceTabs .option:hover {
	background-color: rgba(255,255,255,0.3) !important;
}

.choiceTabs .option {
	cursor: pointer;
}

.choice, .choiceTabs, .choiceContent, .choiceContent > div {
	padding: 0;
}

.optionSelected {
	font-weight:bold;
	border: 1px solid rgba(0,0,0,0.6) !important;
}

.choice, .choiceTabs div, .choiceContent, .choiceContent .option {
	background-color: rgba(255,255,255,0) !important;
}

/* MAIN (BIBLE) */

main[class=bible] {
	padding: 1rem 1rem 1rem 1rem;
}

main[class=bible] form {
	margin-top: 1rem;
}

main[class=bible] h2, main[class=bible] h3, main[class=bible] details {
	margin-top: 0.5rem;
}

main[class=bible] p.backtotop {
	margin-bottom: 0.5rem;
}

main[class=bible] table {
	border-collapse: separate;
	border-spacing: 0.5em 0.25em;
}

main[class=bible] select {
	padding: 0.1rem;
	margin-left: 0.5rem;
}

/* FOOTER */ 

footer {
	background-color: #987;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding: 1em 0;
	color: #edc;
	border-top: 1px solid #765;
}
footer > div {
	max-width: 1024px;
	display: flex;
	flex-flow: column;
	margin: 0 1em;
}
footer a, footer a:link, footer a:visited {
	color: #fed;
}
footer a:hover {
	color: #ffe;
}
footer a:active {
	color: #fed;
}

/* COMMON */

a, a:link, a:visited {
	color: #00c;
}

a:hover {
	color: #44f;
}

a:active {
	color: #00c;
}

/* BUG FEEDBACK */

#FEEDBACK {
	position: fixed;
	bottom: 0;
	right: 0;
	border: 1px solid rgba(0,0,0,0.5);
	background-color: #fff;
}

#FEEDBACK_TOGGLE, #RAT1 {
	cursor: pointer;
}

#RAT1 > i.fa-solid, #RAT2 > i.fa-solid, #RAT3 > i.fa-solid, #RAT4 > i.fa-solid, #RAT5 > i.fa-solid {
	display: none;	
}

#RAT1:hover > i.fa-regular, #RAT2:hover > i.fa-regular, #RAT3:hover > i.fa-regular, #RAT4:hover > i.fa-regular, #RAT5:hover > i.fa-regular,
#RAT1[class=starSelect] > i.fa-regular, #RAT2[class=starSelect] > i.fa-regular, #RAT3[class=starSelect] > i.fa-regular, #RAT4[class=starSelect] > i.fa-regular, #RAT5[class=starSelect] > i.fa-regular {	
	display: none;	
}

#RAT1:hover > i.fa-solid, #RAT2:hover > i.fa-solid, #RAT3:hover > i.fa-solid, #RAT4:hover > i.fa-solid, #RAT5:hover > i.fa-solid,
#RAT1[class=starSelect] > i.fa-solid, #RAT2[class=starSelect] > i.fa-solid, #RAT3[class=starSelect] > i.fa-solid, #RAT4[class=starSelect] > i.fa-solid, #RAT5[class=starSelect] > i.fa-solid {
	display: inline;	
}

#FEEDBACK_FORM, #FEEDBACK_TOGGLE, #FEEDBACK_THANKS, #FEEDBACK_ERROR {
	padding: 0.5rem;
}

#FEEDBACK_FORM button {
	padding: 0.1rem 0.25rem;
}

#FEEDBACK_RULES {
	margin-right: 0.2em;
}

#FEEDBACK_EMAIL, #FEEDBACK_DESCRIPTION, #FEEDBACK_RATING_VIS, .blockLabel {
	display: block;
	width: 100%;
}

#FEEDBACK_EMAIL, #FEEDBACK_DESCRIPTION, #FEEDBACK_RATING_VIS, #FEEDBACK_CONSENT {
	margin-bottom: 0.5rem;
}